.itemWrapper {
  max-width: 778px;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;

  background-color: #f2b258;
  border: 1px solid #2c2c2c2c;

  /* box-shadow:
    6px 6px 12px #bebebe,
    -6px -6px 12px #ffffff;

  box-shadow:
    inset 6px 6px 12px #bebebe,
    inset -6px -6px 12px #ffffff; */
}

.itemIndicator {
  display: flex;
  width: 6px;
  background-color: #845ec2;
  border-radius: 3px;
  height: 100px;
  margin-right: 10px;
  margin-left: 5px;
}
.itemTextWrapper {
  width: 100%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-x: hidden;
}

.itemTitile {
  font-weight: bold;
  font-size: 18px;
}

.itemMessage {
  max-height: 60px;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  color: #727272;
  font-style: italic;
}

.itemButtonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 10px;
}

.itemButton {
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  box-shadow: 3px 3px 5px #727272;
}
.editButton {
  composes: itemButton;
  background-color: #845ec2;
}
.deleteButton {
  composes: itemButton;
  background-color: #fb7575;
}
.completedButton {
  composes: itemButton;
  background-color: #6ab9b4;
}

/* ============================== */

.button {
  min-width: 200px;
  padding: 4px;
  outline: none;
  color: #fff;
  background: #00896f;
  cursor: pointer;
  border-radius: 10px;
  /* box-shadow:
    8px 8px 7px #a6a6a6,
    -8px -8px 7px #ffffff; */
}

.disabledButton {
  min-width: 200px;
  padding: 4px;
  outline: none;
  border-radius: 10px;
  cursor: not-allowed;
  color: #000;
  background-color: #a6a6a6;
}

.formWrapper {
  background-color: #bebebe;
  border-radius: 18px;
  padding: 10px;
  min-width: 300px;
  width: 100%;
  max-width: 450px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formInput {
  outline: none;
  padding: 6px 6px;
  border-radius: 8px;
  box-shadow:
    inset 3px 3px 5px #727272,
    inset -3px -3px 5px #ffffff;
}

.formTextarea {
  outline: none;
  padding: 6px 6px;
  border-radius: 8px;
  box-shadow:
    inset 3px 3px 5px #727272,
    inset -3px -3px 5px #ffffff;
  resize: none;
  height: 110px;
}

.formSpan {
  color: #00896f;
}
.formFailSpan {
  color: #fb7575;
}

.formCheckbox {
  display: flex;
  align-items: center;
  gap: 8px;
}
