@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"),
    url("@/assets/fonts/Roboto-Regular.ttf") format("truetype");
}

#root {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #030712;
}

.container {
  max-width: 1200px;
  padding: 0 16px;
  flex-grow: 1;
  width: 100%;
  margin: 0 auto;
}
